In [2]:
# Q1. Create one variable containing following type of data:

# (i)	string

# (ii)	list

# (iii)	float

# (iv)	tuple

In [4]:
l = ["string", [1, 2, 3, 4], 38.05, ("apple", "banana", "papaya")]

In [6]:
l

['string', [1, 2, 3, 4], 38.05, ('apple', 'banana', 'papaya')]

In [7]:
# Q2. Given are some following variables containing data:

# (i)	var1 = ‘ ‘

# (ii)	var2 = ‘[ DS , ML , Python]’

# (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

# (iv)	var4 = 1.


# What will be the data type of the above given variable.

In [11]:
# Ans- 
var1 = " "
type(var1)

str

In [12]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [14]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [15]:
var4 = 1
type(var4)

int

In [16]:
# Q3. Explain the use of the following operators using an example:

# (i)	/

# (ii)	% 

# (iii)	//

# (iv)	**

In [28]:
# Ans-
a = 79
b = 3

# / - DIVISION OPERATOR 
print("Division:", a/b)

Division: 26.333333333333332

In [25]:
# % - MODULO OPERATOR
print("Remainder:", a%b)

Remainder: 1

In [26]:
# // - FLOOR DIVISION OPERATOR
print("Floor Division:", a//b)

Floor Division: 26

In [27]:
# ** - POWER OPERATOR
print("a to the power b:", a**b)

a to the power b: 493039

In [29]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#     element and its data type.

In [31]:
l = [1, 2, 3, 4, "aman", 'tripathi', 33.8378, ('sudha', 'shyam'), 838, 8393.9393]
for i in l:
    print("elements:", i)
    print("Data Type:", type(i))

elements: 1
Data Type: <class 'int'>
elements: 2
Data Type: <class 'int'>
elements: 3
Data Type: <class 'int'>
elements: 4
Data Type: <class 'int'>
elements: aman
Data Type: <class 'str'>
elements: tripathi
Data Type: <class 'str'>
elements: 33.8378
Data Type: <class 'float'>
elements: ('sudha', 'shyam')
Data Type: <class 'tuple'>
elements: 838
Data Type: <class 'int'>
elements: 8393.9393
Data Type: <class 'float'>

In [1]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
#     times it can be divisible.

In [3]:
# Ans- 
A = 24
B = 3

count = 0
while A % B == 0:
    A = A // B  # Integer division
    count += 1

if count > 0:
    print("B is a divisor of A and it can be divided number of times", count)
else:
    print("B is not a divisor of A.")

B is a divisor of A and it can be divided number of times 1

In [7]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
#     divisible by 3 or not.

In [57]:
# Ans -
l = list(range(1,25))
for i in l:
    if i%3==0:
        print("This element is divisible by 3:", i)

This element is divisible by 3: 3
This element is divisible by 3: 6
This element is divisible by 3: 9
This element is divisible by 3: 12
This element is divisible by 3: 15
This element is divisible by 3: 18
This element is divisible by 3: 21
This element is divisible by 3: 24

In [58]:
                  # or
for i in l:
    if i%3!=0:
        continue
    print("This element is divisible by 3 :", i)

This element is divisible by 3 : 3
This element is divisible by 3 : 6
This element is divisible by 3 : 9
This element is divisible by 3 : 12
This element is divisible by 3 : 15
This element is divisible by 3 : 18
This element is divisible by 3 : 21
This element is divisible by 3 : 24

In [59]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
#     this property.

In [62]:
# Ans - That object who allows you to change its values without changing its identity is a mutable and that object
s = "koyal"
s[2] = 't'
print(s)

TypeError: 'str' object does not support item assignment

In [64]:
# That object who doesn't allow you to change its value is immutable
l = [3, 7, 8, 'banana', 8383.838]
l[3] = 'aman'
print(l)

[3, 7, 8, 'aman', 8383.838]